@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}

/* css de la 1ere section */

.global_header {
    height: 100vh;
    background-image: radial-gradient(circle, rgb(139, 195, 245), #1294b8);
}

#navbar p {
    display: flex;
    font-size: 30px;
    font-weight: 800;
}

#navbar {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    justify-content: space-around;
}

#menu {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    align-items: center;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}

#menu a {
    color: white;
    font-weight: 550;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

#menu a:hover {
    color: grey;
    transition: 0.4s;
}

#icone {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

#icone :hover {
    color: grey;
    transition: 0.4s;
}

.bloc-central {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 6%;
    padding-left: 150px;
    padding-right: 150px;
}

#illu {
    display: flex;
    align-items: center;
    width: 700px;
    height: 700px;
}

#texte {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
}

#texte h1 {
    font-size: 60px;
    padding-bottom: 30px;
    font-weight: bolder;
    /* width: 500px;
    height: 300px; */
}

#texte p {
    font-size: 20px;
    padding-bottom: 25px;
}

#input-email {
    display: flex;
}

.wrapper {
    display: flex;
    padding: 8px;
    border-radius: 25px;
    background-color: rgb(158, 221, 234);
    width: 400px;
}

.wrapper input[type="email"] {
    flex: 1 1 auto;
}

#email {
    border: none;
    background-color: rgb(158, 221, 234);
}

#sub {
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    background-color: rgb(127, 140, 255);
    color: aliceblue;
    border: none;
}

/* css de la 2d section */

.second-section  {
    height: 100vh;
}

#text-s-section {
    display: flex;
    flex-direction: column;  
    text-align: center;
    width: 700px;
    padding: 90px 400px 90px 400px;
}
#text-s-section h1 {
    font-weight: 1000;
}

#text-s-section p {
    padding-top: 10px;
    /* display: flex;
    width: 500px;
    text-align: center; */
}

.container-card {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(circle, rgb(139, 195, 245), #1294b8);
    width: 375px;
    height: 350px;
    border-radius: 10px;
    color: white;
}

.card h2 {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.card p {
    text-align: center;
    padding: 20px;
}

.icone-card {
    font-size: 50px;
    text-align: center;
}

.card:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}


/* css de la 3d section */

.third-section  {
    height: 100vh;
}

#container-box{
    display: flex;
    justify-content: space-evenly;
}

#box {
    height: 600px;
    width: 200px;
}

#box p{
    text-align: center;
    padding-top: 10px;
}

#box-text {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#image-person {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
