@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}


.global_header {
    height: 100vh;
    background-image: radial-gradient(circle, rgb(139, 195, 245), #1294b8);
    padding-left: 100px;
    padding-right: 100px;
}

#navbar p {
    display: flex;
    font-size: 30px;
    font-weight: 800;
}

#navbar {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    justify-content: space-evenly;
}

#menu {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    align-items: center;
}

#icone {
    display: flex;
    align-items: center;
}

.bloc-central {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 6%;
}


#illu {
    display: flex;
    align-items: center;
    width: 700px;
    height: 700px;
}

#texte {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
}

#texte h1 {
    font-size: 60px;
    padding-bottom: 30px;
    font-weight: bold;
    /* width: 500px;
    height: 300px; */
}

#texte p {
    font-size: 20px;
    padding-bottom: 25px;
}

#bar-email {
    padding: 8px;
    border-radius: 25px;
    background-color: aquamarine;
}

#sub {
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    background-color: rgb(127, 140, 255);
    color: aliceblue;
}